@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  max-width: 100%;
  /* overflow: hidden; */
  overscroll-behavior: none;
}

.bg-aspect-ratio {
  background-image: url('/images/bg.png');
}

.bg-intro-aspect-ratio {
  background-image: url('/images/bg_intro.png');
}

.bg-plain-aspect-ratio {
  background-image: url('/images/bg_plain.png');
}

body {
  overscroll-behavior: contain;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

/*! SCROLLBAR */
/* @media (min-width: 1025px) {
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee155;
    border-radius: 15px;
    border: 6px solid transparent;
    background-clip: content-box;
    transform: translateX(-100px);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
} */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee155;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
  transform: translateX(-100px);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

*:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8 !important; /* Firefox */
}


#wheelpicker {
  border: 1px solid #000;
  background-color: white;
}

#wheelpicker2 {
  border: 1px solid #000;
  background-color: white;
}


.sc-grXZZQ.hUbypv {
  display: none !important;
  color: green !important;
}

.sc-dkjKgF.kKwmNv {
  transform: translateX(-13px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
#wheelpicker::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
#wheelpicker {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#wheelpicker2::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
#wheelpicker2 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.3) !important;
}

.Toastify__toast {
  max-width: 100vw !important;

}
.Toastify__toast-container {
  min-width: 400px !important;
} 

@media (max-width: 800px) {
  .Toastify__toast-container {
    width: 100% !important;
  } 
}

.ReactModal__Overlay--after-open {
  opacity: 1 !important;
}



/*! CSV IMPORTER */
.CSVImporter_ProgressDisplay__count::after {
  content: " rows imported";
}


/*! PULSE  */
.my-pulse {
  animation: pulse-animation 2s infinite;
  border-radius: 50%;
}

/* div:has(> img[src='/images/marker.svg']) {
  animation: pulse-animation 2s infinite;
  border-radius: 50%;
} */

div:has(> img[src='/images/redmarker.svg']) {
  animation: red-pulse-animation 2s infinite;
  border-radius: 50%;
}

/* div[style*='width: 40px;'][style*='height: 40px;'][style*='overflow: hidden;'][style*='position: absolute;'][style*='z-index: '] {
  animation: pulse-animation 2s infinite;
  border-radius: 50%;
} */

/* @keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(235, 30, 57, 0.6)
  }
  100% {
    box-shadow: 0 0 0 20px rgba(42, 183, 183, 0);
  }
} */

@keyframes red-pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(235, 30, 57, 0.6);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(235, 30, 57, 0);
  }
}

/*! SLIDERS */
.my-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.my-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.my-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.my-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .my-switch-slider {
  background-color: #2AB6B5;
}

input:focus + .my-switch-slider {
  box-shadow: 0 0 1px #2AB6B5;
}

input:checked + .my-switch-slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.my-switch-slider.my-switch-round {
  border-radius: 28px;
}

.my-switch-slider.my-switch-round:before {
  border-radius: 50%;
}